<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
     <meta charset="utf-8"/>
    <title>EDIT</title>
</head>
<body>
<center><h3>Edit lector account</h3></center>
<center>
<form th:method="POST" th:action="@{/updatelector}" th:object="${lector}">

    <label for="idLector">Edit name: </label>
    <input type="hidden" th:field="*{idLector}" id="idLector"/>
    <div style="color:red" th:if="${#fields.hasErrors('idLector')}" th:errors="*{idLector}">Name Error</div>
    <br/>

    <label for="nameLector">Edit name: </label>
    <input type="text" th:field="*{nameLector}" id="nameLector"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameLector')}" th:errors="*{nameLector}">Name Error</div>
    <br/>
    <label for="loginLector">Edit login: </label>
    <input type="text" th:field="*{loginLector}" id="loginLector"/>
    <div style="color:red" th:if="${#fields.hasErrors('loginLector')}" th:errors="*{loginLector}">Login Error</div>
    <br/>
     <label for="passwordLector">Edit password: </label>
    <input type="text" th:field="*{passwordLector}" id="passwordLector"/>
    <div style="color:red" th:if="${#fields.hasErrors('passwordLector')}" th:errors="*{passwordLector}">Password Error</div>
    <br/>
    <label for="emailLector">Edit email: </label>
    <input type="text" th:field="*{emailLector}" id="emailLector"/>
    <div style="color:red" th:if="${#fields.hasErrors('emailLector')}" th:errors="*{emailLector}">Email Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</center>

</body>
</html>